.section-black-color-bg
{
	background-color:black;
}
.section-orange-color-bg
{
	background-color:orange;
}
.section-light-blue-color-bg
{
	background-color:rgba(78, 193, 255, 1);;
}
.section-purple-color-bg
{
	background-color:purple;
}
.section-blue-color-bg
{
	background-color: rgba(0, 84, 131, 1);
}